---
import "@/assets/styles/globals.css";
import { siteConfig } from "@/site.config";

//components
import Footer from "@/components/Footer.astro";
//import Header from "@/components/Header.astro";
import Header from "@/layouts/common/Header";

import BaseHead from "@/layouts/BaseHead";
import Menu from "./common/Menu.astro";

const {
  meta: { title, description = siteConfig.description, ogImage, articleDate }
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} date={articleDate} />
    <title>{title}</title>
  </head>
  <body id="body">
    <Header />
    <main id="main" class="main">
      <div class="sidebar"><Menu /></div>
      <div class="content">
        <slot><p>This is my fallback content, if there is no child passed into slot</p></slot>
      </div>
    </main>
    <Footer />
  </body>
</html>
