---
import { siteConfig } from "@/site.config";
import "@/assets/styles/globals.css";

import BaseHead from "@/layouts/BaseHead";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";

const {
  meta: { title, description = siteConfig.description, ogImage, articleDate }
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <script src="/theme.js" is:inline></script>

    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      date={articleDate}
    />

    <title>{title}</title>
  </head>

  <body id="pageBody" class="w-full overflow-x-hidden">
    <ThemeProvider />

    <Header />

    <main class="w-full">
      <slot />
    </main>

    <Footer />

    <script is:inline>
      const themeToggle = document.querySelector("#themeToggle");
      const bodyPart = document.querySelector("body");

      themeToggle?.addEventListener("click", () => {
        bodyPart.classList.toggle("darkBg");
        bodyPart.classList.toggle("lightBg");
      });
    </script>
  </body>
</html>